### DEFAULT BEGIN
# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# TypeScript v1 declaration files
typings/

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

### DEFAULT END

# Project generated outputs
actions_out/
tfplan